<!-- <footer class=" f1 footer mt-auto py-3" >
  <p class="text-center text-muted">&copy; Copyright 2020 The Awesome People</p>
</footer> -->
<footer class="footer mt-auto py-3 bg-dark" >
  <div class="container">
    <!-- <span class="text-light">Place sticky footer content here.</span> -->
    <p class="text-center text-light ">&copy; Copyright Maitri Rautela</p>
  </div>
</footer>
</body>
</html>